<!DOCTYPE html>
<html>
  <head>
    <title>AnyAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "application", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "polaris_view_components" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="font-sans font-normal leading-normal text-gray-800 bg-white ">
    <%= render 'shared/polaris/body' %>
  </body>
</html>
